/* Fonts */
@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

/* Variables */
:root {
  --basic-black: #000;
  --basic-white: #fff;
  --basic-text-color: #333;
  --backdrop: #f2f2f2;
  --basic-blue: #81b3d2;
  --basic-lightgrey: #EEE;
  --basic-brown: #766357;
  --basic-raiting: #666;
  --form-icons-color: #a9a9a9;
  --chekbox-block-color: #6a6a6a;
  --link-icon-active-black: rgba(0, 0, 0, 0.3);
  --link-icon-active-white: rgba(256, 256, 256, 0.3);
  --input-hover-color: #ebebeb;
  --input-active-border-color: #e5e5e5;
  --button-dir-color: #cacaca;
  --button-active-brown: #503e33;
  --button-active-blue: #5496bd;
  --button-hover-brown: #604e43;
  --button-hover-blue: #669ec0;
  --copyright-color: #231f20;
  --copyright-active-color: #bdbbbc;
}

/* Global */
html {
  height: 100%;
  background-color: var(--backdrop);
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: var(--basic-text-color);
  text-transform: uppercase;

  margin: 0 auto;
  width: 1200px;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */
.main-header {
  margin: 0;
  padding: 0;
}
.main-navigation {
  display: grid;
  grid-template-columns: 73px 1fr 73px;
  /* grid-template-rows: 56px; */
  font-size: inherit;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.main-header-logo {
  grid-column: 2/3;
  grid-row: 1;
  z-index: 1;
  justify-self: center;
  margin: 0;
  padding: 0;
}


.main-navigation-list {
  grid-column: 2/3;
  grid-row: 1;
  list-style: none;
  margin: 0;
  /* padding: 0 73px 0 73px; */
}

.navigation-item {
  margin: 0;
}

.navigation-link{
  color: var(--basic-black);
}

.navigation-link:hover, .navigation-link:focus {
  color: var(--basic-blue);
}

.navigation-link:active {
  color: var(--link-icon-active-black);
}

/* Link page current catalog */
.link-page-current {
  color: var(--basic-brown);
}

.navigation-link-current:hover, .navigation-link-current:focus {
  color: var(--basic-blue);
}

.navigation-link-current:active {
  color: var(--link-icon-active-black);
}

/* Index page */
/* Title*/
.title-content {
  background:
    url("../img/whiteshape.svg") no-repeat 0 452px,
    url("../img/background.jpg") no-repeat;
  width: 1200px;
  height: 509px;
  display: grid;
  grid-template-columns: 1fr;
}

.title-content img {
  margin: auto;
}
/* Qualities */
.qualities {
  text-align: center;
}

/* intro of qualities */
.qualities-intro {
  margin-top: 42.5px;
  margin-bottom: 51px;
  grid-row: 1/2;
  line-height: 26px;
}

.qualities-title {
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 43.5px;
}

.qualities-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.qualities-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px;
  margin: 0;
  padding: 0;
}

.qualities-box {
  padding: 47px 0 0 0;
}

.qualities-box p {
  margin: 23px 40px 0 40px;
  padding: 0;
}

.qualities-heading {
  font-weight: 700;
  line-height: inherit;
  font-size: 21px;
  margin: 0 0 25px 0;
  padding: 0;
}


/* 1, 2 qualities */
.quality-city {
  grid-column: 1/2;
  grid-row: 1;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.image-city {
  grid-column: 2/4;
}

.quality-bridge {
  grid-column: 3/4;
  grid-row: 1;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.image-bridge {
  grid-column: 1/3;
}

.illustration-image {
  background-color: var(--basic-lightgrey);
}


/* 3x qualities of city */
.qualities-city-box{
  height: 330px;
}

.city-box {
  padding: 160px 50px 0 50px;
}

.house {
  grid-column: 1/2;
  background: url("../img/icons/icon-house.svg") no-repeat 50% 55px;
}

.food {
  grid-column: 2/3;
  background: url("../img/icons/icon-food.svg") no-repeat 50% 55px;
}

.present{
  grid-column: 3/4;
  background: url("../img/icons/icon-box.svg") no-repeat 50% 55px;
}

/* 3, 4, 5 qualities */
.square {
  grid-column: 1/2;
  background-color: var(--basic-lightgrey);
}

.road {
  grid-column: 2/3;
  background-color: var(--basic-lightgrey);
}

.tourist {
  grid-column: 3/4;
  background-color: var(--basic-lightgrey);
}

/* Search */
.search-hotel {
  text-align: center;
  line-height: 24px;
  font-size: inherit;
}

.search-title {
  margin: 58px 0 34px 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.hotel-text {
  line-height: 24px;
  margin: 0 0 54px 0;
}

/* All buttons */
.button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  text-transform: inherit;
  border: none;
  outline: none;
  text-align: center;
  vertical-align: middle;
}
/* Button open modal */
.button-modal {
  background-color: var(--basic-brown);
  width: 568px;
  height: 86px;
}
/* Brown-color buttons */
.button-modal:hover, .button-modal:focus,
.button-reserve:hover, .button-reserve:focus {
  background-color: var(--button-hover-brown);
}

.button-modal:active,
.button-reserve:active {
  background-color: var(--button-active-brown);
  color: var(--link-icon-active-white);
}
/* Map JS */
.search-map {
  height: 594px;
}

/* Footer */
.main-footer {
  color: var(--basic-black);
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  display: grid;
  grid-template-columns: 73px 327px 400px 327px 73px; /*Улучшить*/
  /* grid-template-rows: 120px; */
}

/* Contacts */
.footer-contacts {
  grid-column: 2/3;
  justify-self: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-link {
  text-decoration: none;
  color: var(--basic-black);
}

/* Social buttons */
.footer-social{
  grid-column: 3/4;
  justify-self: center;
}

.footer-social ul {
  list-style: none;
  padding: 0;
}

.social-button {
  display: block;
  height: 48px;
  width: 46px;
  background-color: var(--basic-blue);
  text-decoration: none;
  color: var(--basic-white);
}

/* Blue-color buttons */
.social-button:hover, .social-button:focus,
.search-button:hover, .search-button:focus,
.button-more:hover, .button-more:focus {
  background-color: var(--button-hover-blue);
}

.social-button:active,
.search-button:active {
  background-color: var(--button-active-blue);
  color: var(--link-icon-active-white);
}

/* .social-button path:active {
  fill: var(--link-icon-active-white);
}
/*

/* copyright */
.footer-copyright {
  grid-column: 4/5;
  justify-self: center;
}
/*
.copyright-logo path:hover, .copyright-logo path:focus {
  fill: var(--basic-blue);
}

.copyright-logo path:active {
  fill: var(--copyright-active-color);
} */

/* Modal Search Hotel */
.modal {
  color: var(--basic-black);
  font-size: inherit;
  font-weight: 700;
  background-color: var(--basic-white);
  text-align: center;
  width: 568px;
  height: 395px;
  margin: 0;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  outline: 2px solid blue;
}

.search-hotel-form{
  margin: 0;
  padding: 55px;
  outline: 2px solid green;
}

.search-hotel-content {
  outline: 2px solid red;
  margin-bottom: 29px;
}

.input-text {
  background-color: var(--backdrop);
  border: none;
  text-transform: inherit;
  font-weight: 700;
  width: 346px;
  height: 38px;
}

.counter {
  background-color: var(--backdrop);
  border: none;
  text-transform: inherit;
  font-weight: 700;
  text-align: center;
  width: 114px;
  height: 38px;
}

.search-hotel-form input[type="text"]:hover {
  background-color: var(--input-hover-color);
}

.search-hotel-form input[type="text"]:active, .search-hotel-form input[type="text"]:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--input-active-border-color);
}

.button-icons {
  background-color: transparent;
  border: none;
  outline: none;
}

/* .button-icons path:hover, .button-icons path:focus {
  fill: var(--basic-blue);
} */


.search-button {
  margin: 54px 0 0 0;
  background-color: var(--basic-blue);
  width: 458px;
  height: 58px;
}

/* Catalog page */
/* Filter */
.filter {
  background: url("../img/background-catalog.jpg") no-repeat;
}

.filter-form {
  margin: 0;
  padding: 0 73px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 217px;
}

.filter-box {
  justify-self: start;
}

.price-box {
  justify-self: end;
  width: 317px;
  text-align: center;
}

.filter-form fieldset {
  border: none;
  margin: 26.5px 0 0 0;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  text-align: left;
  margin: 0;
}

.filter-item {
  color: var(--basic-white);
  margin: 22px 0 0 0;
}

/* Form Cost */
/* Price from-to */
.filter-price {
  font-size: inherit;
  line-height: inherit;
  color: var(--basic-white);
  background-color: transparent;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  padding: 0;
  margin: 10.5px 0 0 0;
}
/* price in numbers */
.filter-price input {
  background: none;
  border: none;
  width: 50px;
  color: inherit;
}

.filter-button {
  margin: 0 0 32px 0;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: var(--basic-white);
  background-color: transparent;
  width: 137px;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filter-button:hover, .filter-button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.slider button {
  margin: 11px 0 23px 0;
  padding: 0;
  border: none;
  outline: none;
  width: 19px;
  height: 19px;
  background-color: var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgb(171 171 171 / 30%);
}

/* Filter Results */
.filter-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 73px max-content 1fr max-content 73px;
}

/* Find */
.filter-result-counter {
  grid-column: 2/3;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 29px 40px 0 0;
}

/* Sort */
.breadcrumbs-list {
  grid-row: 3/4;
  list-style: none;
}

.breadcrumbs-link {
  color: var(--link-icon-active-black);
  border-bottom: 1px dotted var(--basic-blue);
}

.breadcrumbs-current {
  border: none;
  color: var(--basic-blue);
}

.breadcrumbs-link:hover, .breadcrumbs-link:focus {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}

.breadcrumbs-link:active {
  color: var(--basic-black);
  border: none;
}

/* Dirs up and down */
.dir {
  grid-column: 4/5;
  margin: 29px 0 0 0;
  border: none;
  background: none;
  outline: none;
}

/* .dir path:hover, .dir path:focus {
  fill: var(--basic-black);
}

.dir path:active {
  fill: var(--basic-blue);
} */

/* Catalog with filter */
.results {
  font-size: inherit;
  line-height: inherit;
}
.results-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results-item {
  border-top: 1px solid var(--input-active-border-color);
  display: grid;
  grid-template-columns: 73px 1fr 1fr 73px;
  grid-template-rows: 150px;
}

.results-item:last-child {
  border-bottom: 1px solid var(--input-active-border-color);
}

.hotel-info-box {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: 1fr 1fr 1fr;
}

.catalog-image {
  grid-column: 1;
  grid-row: 1/-1;
  margin: 30px 29px 30px 0;
}

.hotel-rating-box {
  grid-column: 3/4;
  justify-self: end;
  margin: 30px 0 30px 0;
}

.hotel-rang {
  grid-column: 2/3;
  grid-row: 2;
}

.hotel-price {
  grid-column: 3/-1;
  grid-row: 2;
}

.hotel-rang, .hotel-price {
  margin: 7px 0 0 0;
  padding: 0;
}
.results-item-title {
  grid-column: 2/-1;
  margin: 23.5px 0 0 0;
  padding: 0;
}

.results-item-title a{
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.results-item-title a:hover, .results-item-title a:focus {
  color: var(--basic-blue);
}

.results-item-title a:active {
  color: var(--link-icon-active-black);
}

.button-more {
  background-color: var(--basic-blue);
  padding: 3px 17px;
  font-size: inherit;
  line-height: inherit;
  grid-column: 2;
  grid-row: 3/-1;
  margin: 0 3px 30px 0;
}

.button-reserve {
  background-color: var(--basic-brown);
  padding: 3px 17px;
  font-size: inherit;
  line-height: inherit;
  grid-column: 3;
  grid-row: 3/-1;
  margin: 0 0 30px 3px;
}

.stars{
  text-align: right;
}

.rating {
  margin: 41px 0 0 0;
  color: var(--basic-raiting);
  background-color: var(--backdrop);
  text-align: center;
  padding: 3px 0;
  width: 110px;
}
